*{
    margin: 0%;
    padding: 0%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  
  .contenedor {
    width: 100vw;
    height: 100vh;
  }
  
  .red{
  background-color: red;
  
  }
  .blue{
    background-color: rgb(76, 76, 182);
  }
  .pink{
    background-color:rgb(179, 113, 153);
  }
  .green{
  background-color: rgb(22, 182, 22);
  }
  .purple{
    background-color: rgb(182, 13, 159);
  }
  .yellow{
    background-color: rgb(226, 230, 19);
  }
  .red,
  .green,
  .purple,
  .blue,
  .yellow,
  .pink{
    width: 100%;
    height: 15%;
  }
  /* Tamaño Mediano*/
@media screen and (min-width: 600px){
    .contenedor{
        display: -webkit-flex;
       -webkit-flex-flow:row wrap;
        flex-flow: row wrap;
    }
       
        .red,
        .green,
        .purple,
        .blue,
        .yellow,
        .pink{
            width: 50%;
            height: 35%;
        }
        
  }  